extend layout

block request
  form(ng-submit='executeServiceCall(this)' method='post')
    // Overall Options
    .row
      .col-lg-1 HTTP[S]:
      .col-lg-2
        select(ng-model='httpType' ng-options='choice for choice in constants.httpOptions')
      .col-lg-2 Host Name:
      .col-lg-3
        input(ng-model='hostName' type='text' name='hostName' id='hostName').col-lg-12
      .col-lg-2 Port:
      .col-lg-2
        input(ng-model='port' type='text' name='port' id='port' maxLength='4' size='4')
    // Operation
    .row.row-space
      .col-lg-1 URL:
      .col-lg-6
        input(ng-model='url' type='text' name='url' id='url').col-lg-12
      .col-lg-2 Method:
      .col-lg-3
        select(ng-model='httpMethod' ng-options='choice for choice in constants.httpMethods')
    // Request Headers        
    .row.row-space
      .col-lg-2 Headers:
      .col-lg-8.multi-line-input
        div(ng-repeat='header in headers').row.row-space-sm
          .col-lg-6
            input(ng-model="header.key" type='text').center-block
          .col-lg-6
            input(ng-model="header.value" type='text').center-block
      .col-lg-2
        input(type='button' name='add' value='add' ng-click='addHeader()').center-block
    // Query Params
    .row.row-space
      .col-lg-2 Query Params:
      .col-lg-8.multi-line-input
        div(ng-repeat='queryParam in queryParams').row.row-space-sm
          .col-lg-6
            input(type='text' value='{{queryParam.key}}').center-block
          .col-lg-6
            input(type='text' value='{{queryParam.value}}').center-block
      .col-lg-2
        input(type='button' name='add' value='add' ng-click='addQueryParam()').center-block
    // Request Body
    .row.row-space
      .col-lg-2 Body:
      .col-lg-10
        select(ng-model='requestMode' ng-change='updateRequestEditor()' ng-options='choice for choice in constants.wysiwygChoices').pull-right
    .row.row-space-sm
      .col-lg-12
        #request
    .row.row-space-sm
      .col-lg-10
      .col-lg-2
        input(type='submit' value="Send")
block response
    // Response Headers        
    .row.row-space
      .col-lg-2 Headers:
      .col-lg-10.multi-line-input
        div(ng-repeat='(key, value) in responseHeaders').row.row-space-sm
          .col-lg-6
            label.center-block {{key}}
          .col-lg-6
            label.center-block {{value}}
    // Response Body
    .row.row-space-sm
      .col-lg-2 Response:
      .col-lg-10
        label.pull-right {{responseMode}}
    .row.row-space-sm
      .col-lg-12
        #response
block sidebar
  .widget
    div(ng-view)