.row-space{
	margin-top: 4%;
	padding-bottom: 1%;
	border-bottom: 1px solid #272822;
}

.row-space-sm{
	margin-top: 1%;
}

#request, #response { 
        height: 200px;
    }

.multi-line-input{
	max-height: 150px;
	overflow: auto;
}